/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-image: url("wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.App-header h1{
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 15px rgb(54, 107, 125), 0 0 5px lightcyan;
}
.App-header {
  /* background-color: #373b42; */
  padding: 20px;
  color: black;
  height: 40rem;
}

.App-header img{
  height: 28rem;
  width: 28rem;
  align-items: center;
  border-radius: 50%;
  box-shadow: 10px 10px 5px lightblue;
}

.App-header p{
  margin-top: 20px;
  font-size: 20px;
  display: inline-block;
  margin: 30px 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #ffffff;
  opacity: 0.8;
}

.App-main {
  padding: 30px;
}

.App-main section {
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
  margin: 2%;
}

.App-main h2 {
  color: #282c34;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App-main p{
  font-size: 20px;
  margin: 5%;
  font-weight: bold;
  color: #000000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.App-main img {
  margin-left:2%;
  float:left; 
  height:20rem;
  width:17rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.App-footer {
  background-color: #282c34;
  color: white;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .App-main {
    max-width: 600px;
    margin: 0 auto;
  }
}
